In [1]:
import pandas as pd

In [6]:
import wandb
api = wandb.Api()
runs = api.runs("wuzhengx/fine_tuning")

In [32]:
all_data = []
for run in runs:
    if "sst3" in run.name:
        perf_metrics = run.history(keys=["eval/Macro-F1"])["eval/Macro-F1"]
        best_perf_metrics = max(perf_metrics)
        run_name = run.name
        
        name_list = run_name.split("_")
        for i in range(len(name_list)):
            if name_list[i] == "seed":
                seed = int(name_list[i+1])
            if name_list[i] == "reverse":
                if name_list[i+1] == "True":
                    reverse_order = True
                else:
                    reverse_order = False
            if name_list[i] == "random":
                if name_list[i+1].strip("/") == "True":
                    random_order = True
                else:
                    random_order = False
            if name_list[i] == "data":
                if len(name_list[i+1].split("-")) > 2:
                    perturbed_type = "-".join(name_list[i+1].split("-")[2:])
                else:
                    perturbed_type = "null"
            if name_list[i] == "inoculation":
                inoculation_p = float(name_list[i+1])
        all_data.append([perturbed_type, reverse_order, random_order, inoculation_p, seed, best_perf_metrics])

In [36]:
df = pd.DataFrame(
    all_data, 
    columns = ['perturbed_type','reverse_order','random_order', 'inoculation_p', 'seed', 'best_perf_metrics']
)

In [65]:
df[(df["perturbed_type"]=="null")&(df["random_order"]==False)&(df["reverse_order"]==False)].sort_values("inoculation_p")

,perturbed_type,reverse_order,random_order,inoculation_p,seed,best_perf_metrics
1,null,False,False,0.00,42,0.728787
11,null,False,False,0.01,42,0.734993
10,null,False,False,0.05,42,0.735491
9,null,False,False,0.20,42,0.727496
7,null,False,False,0.40,42,0.731273
5,null,False,False,0.80,42,0.733971
3,null,False,False,1.00,42,0.728830

In [56]:
df[(df["perturbed_type"]=="null")&df["random_order"]].sort_values("inoculation_p")

,perturbed_type,reverse_order,random_order,inoculation_p,seed,best_perf_metrics
0,null,False,True,0.00,42,0.667268
21,null,False,True,0.01,42,0.672369
25,null,False,True,0.05,42,0.666459
29,null,False,True,0.20,42,0.666071
32,null,False,True,0.40,42,0.667652
36,null,False,True,0.80,42,0.661336
40,null,False,True,1.00,42,0.668872

In [57]:
df[(df["perturbed_type"]=="null")&df["reverse_order"]].sort_values("inoculation_p")

,perturbed_type,reverse_order,random_order,inoculation_p,seed,best_perf_metrics
2,null,True,False,0.00,42,0.684740
19,null,True,False,0.01,42,0.709018
23,null,True,False,0.05,42,0.703451
27,null,True,False,0.20,42,0.698662
31,null,True,False,0.40,42,0.702992
35,null,True,False,0.80,42,0.703933
41,null,True,False,1.00,42,0.702799

In [58]:
df[(df["perturbed_type"]=="en~fr@N~fr@V")].sort_values("inoculation_p")

,perturbed_type,reverse_order,random_order,inoculation_p,seed,best_perf_metrics
8,en~fr@N~fr@V,False,False,0.00,42,0.718066
39,en~fr@N~fr@V,False,False,0.01,42,0.723025
34,en~fr@N~fr@V,False,False,0.05,42,0.717725
28,en~fr@N~fr@V,False,False,0.20,42,0.720710
22,en~fr@N~fr@V,False,False,0.40,42,0.720964
18,en~fr@N~fr@V,False,False,0.80,42,0.726891
15,en~fr@N~fr@V,False,False,1.00,42,0.721872

In [59]:
df[(df["perturbed_type"]=="en~jaktc@N~jaktc@V")].sort_values("inoculation_p")

,perturbed_type,reverse_order,random_order,inoculation_p,seed,best_perf_metrics
6,en~jaktc@N~jaktc@V,False,False,0.00,42,0.711075
38,en~jaktc@N~jaktc@V,False,False,0.01,42,0.719418
33,en~jaktc@N~jaktc@V,False,False,0.05,42,0.723158
26,en~jaktc@N~jaktc@V,False,False,0.20,42,0.728288
20,en~jaktc@N~jaktc@V,False,False,0.40,42,0.720996
17,en~jaktc@N~jaktc@V,False,False,0.80,42,0.715180
13,en~jaktc@N~jaktc@V,False,False,1.00,42,0.726539

In [60]:
df[(df["perturbed_type"]=="en~fr@N~jaktc@V")].sort_values("inoculation_p")

,perturbed_type,reverse_order,random_order,inoculation_p,seed,best_perf_metrics
4,en~fr@N~jaktc@V,False,False,0.00,42,0.705185
37,en~fr@N~jaktc@V,False,False,0.01,42,0.707709
30,en~fr@N~jaktc@V,False,False,0.05,42,0.711328
16,en~fr@N~jaktc@V,False,False,0.20,42,0.704054
14,en~fr@N~jaktc@V,False,False,0.40,42,0.704386
12,en~fr@N~jaktc@V,False,False,0.80,42,0.712155
24,en~fr@N~jaktc@V,False,False,1.00,42,0.722255